{% from 'form_helper.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %} 
Registration 
{% endblock %}
 
{% block content %}
    <form action="{{url_for('index')}}", method="POST">
        <div>
            
            {{displayField(form.username,'Username',autocomplete="off",autofocus=true)}}
            {{displayField(form.password,'Username')}}
            {{displayField(form.confirm_password,'Retype Password')}}
            
        </div>
        <div>
            {{ form.submit_button}}
        </div>
        {{ form.csrf_token }}
    </form>
    <div class="center">
        <p>
            Welcome to my website
        </p>
    </div>  
{% endblock %}